@tailwind base;
@tailwind components;
@tailwind utilities;


body{

  background: radial-gradient(circle,#d5edff, #fffffe);
}


.wrapper {
  width: 100%;
  min-height: 100vh;
  font-family: 'gilroy';
  
}

h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#303030, #4d6c8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#0a62cd, #082858);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


